*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    
    line-height: 1.6;
    color: #222222;
    /* position: relative; */
    
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}



body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1{
    font-size: 2em;
    font-weight: 800;
}

h1,
h2,
h3,
h4{
  
  font-weight: 600;
  /* font-size: 2em; */
  line-height: 1;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 1em;
}

a{
    text-decoration: none;
    color: white;
}

.text-center{
    text-align: center;
}

img{
    display: block;
    max-width: 100%;
    margin-inline: auto;
    margin-left: auto;
    margin-right: auto;
}

section{

    padding: 1rem 0;
}

.container {
    margin-inline: auto;
    margin-left: auto;
    margin-right: auto;
    
    width: min(90%, 75.5rem);
}


header {
    background-color: #FFFFFF;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
    margin-top: 1em;
    border-bottom: 1.1px solid #DDDDDD;
    height: 50px;
}


#logo-container {
    display: flex;
    
    gap: .5em;
    align-items: center;

}

#logo-container p {
    margin: 0;
    vertical-align: middle;
}

#google-play {
  
    display: flex;
    justify-content: center;
    align-items: center;
}



.astro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}


#astro-img-container {
    height: 76px;
    width: 76px;
    border-radius: 50%;
    margin: auto auto 1em auto;
    
}

#astro-img-container img {
    border-radius: 50%;
}

#astro-name,.section-heading {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 27px;
    padding: 1rem 0 1.5rem 0;
    margin: 0;
}

#astro-name {
    text-align: center;
    padding: 0;
}

#languages {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8125rem;
    line-height: 15px;
    color: #8F8F8F;
    margin-top: .5em;
}

/* AUDIO-------------------------------- */
#astro-audio {
    height: 33px;
    width: 133px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .5625rem .75rem;
    border: 1px solid #222222;
    border-radius: 8px;
    gap: .5em;
    margin-bottom: 1em;
}

.audio-icon {
    height: 16px;
    background-position: center;
    
    background-repeat: no-repeat;
    border-radius: 50%;
    
}

.play-icon {
    background-image: url('images/play.svg');
    width: 16px;
    
}

.line-icon {
    background-image: url('images/line.svg');
    width: 55px;
    background-repeat: repeat-x;
    animation: audio_css 5s linear infinite;
    animation-play-state: paused;    
}



@keyframes audio_css
{
    from {background-position-x: 0px;}
    to {background-position-x: 55px;}
}

.time {
    font-size: 12px;
}


/* astro details */

#astro-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#astro-details p{
    margin: 0;
}

#astro-details>div>p:first-child{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 25px;
    /* identical to box height */

    text-align: center;
}
#astro-details>div>p:nth-child(2){
    font-size: .8125rem;
    line-height: 15px;
    /* identical to box height */
    color: #8F8F8F;
}


/* NAV BUTTONS********************************* */

#nav-container {
    display: flex;
    gap: .5rem;
}

.nav-btn {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1.2rem;

    background: #F6F6F6;
    border-radius: 8px;
    border: 0;
    font-size: .875rem;
    line-height: 26px;

    color: #454545;

}


/***************    INFO    ************************* */

#medals-container>.section-heading {
    /* padding-top: 2.5rem; */
}

#medals {
    display: flex;
    gap: 2em;
    overflow-x: scroll;
}

#medals img {
    min-width: 50px;
}



/* speciality */


#speciality {
    display: flex;
    gap: 1em;
    overflow-x: scroll;
}

#speciality>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .2rem;
    padding: 1rem;
    min-width: 153px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 1rem;
}
.speciality-img {
  height: 26px;
  width: 26px;
}

.spec, .sub-spec {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}

.sub-spec {
    font-size: .875rem;
    color: #707070;
}


/* ***************  SKILLS  ************** */

#skills-container {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #DDDDDD;
}

#skills-container>.section-heading {
    padding-bottom: 1rem;
}


#skills {
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 7px;
    gap: 6px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
}

.skill img {
    height: 22px;
    width: 22px;
}

.skill span {
    font-weight: 600;
    font-size: .875rem;
    line-height: 17px;
   
}







#bio-container>.section-heading {
    padding-top: 2rem;
}


#astro-bio {
    margin-bottom: .2em;
    font-size: 13px;
    line-height: 18px;
    color: #707070;
    overflow: hidden;
}



.show-more {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    color: #707070;
    
}

.show-more span {
    border-bottom: 1px solid #707070;
}

.fds{height: 54px;}



#astro-images{
    margin-top: 1rem;
    display: flex;
    overflow-x: scroll;
    padding-bottom: .5rem;
    gap: .5em;
    border-bottom: 1px solid #DDDDDD;
}

#astro-images img {
    height: 70px;
    max-width: 70px;
    min-width: 70px;
    border-radius: 1rem;
    object-fit: contain;
    transition: .3s;
}

/* 
.boro {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abar-boro {
    height: auto !important;
    max-width: 100% !important;
} */

#reviews-section {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #DDDDDD;
}

#reviews-section>.section-heading {
    padding-top: 0;
}

#review-count {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 1rem;
}

#review-count>div:first-child {
    display: flex;
    flex-direction: column;

}

#review-score {
    font-weight: 600;
    font-size: 52px;
    line-height: 64px;
}


#total-reviews{
    display: flex;
    flex-direction: row;
    align-items: center;
} 

#total-reviews img {
    margin: 0;
}

.sm-gray-text {
    font-size: 12px;
    line-height: 18px;

    color: #707070;
}




#star-show {
  width: 100%;
  padding: .55em 0;
  display: flex;
  flex-direction: column;
  gap: 1.5px;
}

li {
    list-style-type: none;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: .3em;
}


.stars {
    display: flex;
    justify-content: flex-end;

    min-width: 50px;
    gap: .5px;
}
.icon {
    object-fit: contain;
    min-width: 10px;
    max-width: 10px;
    margin: 0;
}



.rating-bar {
    background: #D8D8D8;
    border-radius: 2.4px;
    height: 5px;
    width: 100%;
}

.rating-bar>div {
    background-color: #965EFB;
    height: inherit;
   
    border-radius: inherit;
}




/* User reviews */

#review-container {
    padding-top: 1.5rem;
    
}

#reviews {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.review{
    display: flex;
    flex-direction: column;
    gap: .75em;
}

.reviewer-data {
    display: flex;
    justify-content: space-between;
}

.reviewer-data p{
    margin: 0;
}
.reviewer-data>div:first-child {
    display: flex;
    gap: .5em;
    
}

.reviewer-image {
    display: flex;
    justify-content: center;
    align-items: center;
}


.users-rating {
    display: flex;
    width: 29%;
}

.users-rating img {
    max-width: 17px;
}

.reviewer-data>div>div img {
    height: 26px;
    width: 26px;
    border-radius: 50%;
}

.user-name {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
}

.review-time {
    font-size: 12px;
    line-height: 14px;

    color: #8F8F8F;
}

.review-text {
    font-size: 13px;
    line-height: 150%;

    color: #707070;
}


.astro-feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    line-height: 150%;
    padding: 9px 11px;

    background: #F6F6F6;
    border-radius: 8px;
}

.astro-feedback p {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
}


.see-all {
    height: 44px;
    width: 100% !important;
    border: 1px solid #222222;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    

    margin: 1rem auto 0 auto;
    
    color: #222222;
}



.sticky-header {
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100px; */
    background: white;
    border-bottom: 2px solid white;
    top: 0;
    left: 0;
    transform: translateY(-200%);
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;  
    z-index: 999;
  }
  
  .sticky-header.visible {
    display: flex;
    transform: none;
  }
.sticky-header h2 {
    margin-bottom: .5em;
}

.nav-sticky {
    position: fixed;
    
    width: 100%;
    /* height: 100px; */
    padding: 0 1.35rem .75rem 1.35rem;
    background: white;
    top: 70px;
    left: 0;
    display: flex;
    gap: .5em;
    /* box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3); */
    border-bottom: 1px solid #D8D8D8;
    
}

#reviews-section, #info-container, #posts-section, #medals-container {
    scroll-margin: 120px;
}

.active-btn{
    background-color: #121212;
    
    color: #f6faff;
}




/* ----------------VIDEO */
/* --------------------------------------------- */


video{
    max-width: 100%;
    border-radius: .5rem;
   
    border: 1px solid rgba(0,0,0,.3);
              
}
#video-container {
    position: relative;
    overflow: hidden;
}

.controls {
    display: flex;
    position: absolute;
    bottom: 14%;
    width: 70%;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, .75);
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 7px;
    
}




.btns button, .button button {
   
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    padding: 0;
   
}

.btns button::before {
    content: '';
    /* font-family: 'Font Awesome 6 Free';
    background-color: rgba(0,0,0,.3); */
    background-image: url('images/play_circle_outline_white_48dp.svg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    display: inline-block;
    

   position: absolute;
   left: -17%;
   top: -225%;
}

.button button::before {
    content: '';
    /* font-family: 'Font Awesome 6 Free';
    background-color: rgba(0,0,0,.4); */
    background-image: url('images/circle-play-32px\ 1.svg');
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 50%;
    width: 3.8rem;
    height: 3.8rem;
    display: inline-block;
    
   
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translateY(-50%) translateX(-50%);
}

.buttons button.play::before {
    content: '';
    
}

.buttons button.pause::before {
    content: '';
    background-image: url('images/pause_circle_outline_white_48dp.svg');
  
    
}

.hide {
    display: none;
}

.progress-bar {
    height: 7px;
    width: 100%;
}

.progress {
    height: inherit;
    /* width: 40%; */
    border-radius: 50px;
    width: 0;
    background-color: #965EFB;

}


#time-remaining {
    font-weight: 500;  color: white;
                text-shadow:
                 -1px -1px 0 #000,  
                  1px -1px 0 #000,
                  -1px 1px 0 #000,
                   1px 1px 0 #000; position: absolute; right: -17%; letter-spacing: 1px;
                    top: -140%;
}


#posts-section {
    padding-bottom: 2rem;
    border-bottom: 1px solid #DDDDDD;
}


#article-stats {
    display: flex;
    gap: 2em;
}

#article-stats>div {
    display: flex;
    gap: .3em;
}

#article-stats>div p {

    margin: 0;

}

/* New css */
#comments:last-child {
    margin-bottom: 50px;
}/* New css*/


.comment-img img {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
}

.comment {
    display: grid;
    gap: .5em;
    border-bottom: 1.5px solid #E8E8E8;
    position: relative;
    grid-template-columns: 3rem 1fr;
    padding-bottom: 1em;
}

.comment-texts >p {
    margin: 0;
}

.comment-like {
    
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    gap: .25em;
}   

.comment-like-btn, .center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-like>p {
    margin: 0;
}


p.the-comment {
    margin-top: 1em;
}
.post {


    border-bottom: 1px solid #DDDDDD;
    padding: 1rem 0;

}

.post > div >* + * {
    margin-top: .5rem;
}

.post img {
    margin-left: 0;
    border-radius: .5rem;
}

.article-author {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}
.article-title {
    font-weight: 600;
   
    line-height: 150%;
}

.article-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    overflow-y: hidden;
    height: 54px;
}

.post a {
    font-size: 14px;
   
    

    text-decoration: underline;

    /* grey/light/900 */

    color: #222222;
    }

.date {
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */


    color: #8F8F8F;
}

#consult-btn-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    
    height: 70px;
    padding: .5rem 0 .65rem 0;
    background-color: #FFFFFF;
    border-top: 1px solid #DDDDDD;
    z-index: 99;
}

#consult-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    
    height: 50px;
    width: 90%;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    /* othercolor/300 */

    background: #26C884;
    border-radius: 4px;
    font-weight: 600;
 
    line-height: 20px;


    text-align: center;
    color: #FFFFFF;
}

#placeholder {
    height: 70px;
}

