*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    
    line-height: 1.6;
    color: #222222;
    /* position: relative; */
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}



body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1{
    font-size: 2em;
    font-weight: 800;
}

h1,
h2,
h3,
h4{
  
  font-weight: 600;
  /* font-size: 2em; */
  line-height: 1;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 1em;
}

a{
    text-decoration: none;
    color: white;
}

.text-center{
    text-align: center;
}

img{
    display: block;
    max-width: 100%;
    margin-inline: auto;
    margin-left: auto;
    margin-right: auto;
}

section{

    padding: 1rem 0;
}

.container {
    margin-inline: auto;
    margin-left: auto;
    margin-right: auto;
    
    width: min(90%, 75.5rem);
}


header {
    background-color: #FFFFFF;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
    margin-top: 1em;
    border-bottom: 1.1px solid #DDDDDD;
    height: 50px;
}


#logo-container {
    display: flex;
    
    gap: .5em;
    align-items: center;

}

#logo-container p {
    margin: 0;
    vertical-align: middle;
}

#google-play {
  
    display: flex;
    justify-content: center;
    align-items: center;
}



.astro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}


#astro-img-container {
    height: 76px;
    width: 76px;
    border-radius: 50%;
    margin: auto auto 1em auto;
    
}

#astro-img-container img {
    border-radius: 50%;
}

#astro-name,.section-heading {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 27px;
    padding: 1rem 0 1.5rem 0;
    margin: 0;
}

#astro-name {
    text-align: center;
    padding: 0;
}

#languages {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8125rem;
    line-height: 15px;
    color: #8F8F8F;
    margin-top: .5em;
}

/* AUDIO-------------------------------- */
#astro-audio {
    height: 33px;
    width: 133px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .5625rem .75rem;
    border: 1px solid #222222;
    border-radius: 8px;
    gap: .5em;
    margin-bottom: 1em;
}

.audio-icon {
    height: 16px;
    background-position: center;
    
    background-repeat: no-repeat;
    border-radius: 50%;
    
}

.play-icon {
    background-image: url('images/play.svg');
    width: 16px;
    
}

.line-icon {
    background-image: url('images/line.svg');
    width: 55px;
    background-repeat: repeat-x;
    animation: audio_css 5s linear infinite;
    animation-play-state: paused;    
}



@keyframes audio_css
{
    from {background-position-x: 0px;}
    to {background-position-x: 55px;}
}

.time {
    font-size: 12px;
}


/* astro details */

#astro-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#astro-details p{
    margin: 0;
}

#astro-details>div>p:first-child{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 25px;
    /* identical to box height */

    text-align: center;
}
#astro-details>div>p:nth-child(2){
    font-size: .8125rem;
    line-height: 15px;
    /* identical to box height */
    color: #8F8F8F;
}


/* NAV BUTTONS********************************* */

#nav-container {
    display: flex;
    gap: .5rem;
}

.nav-btn {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1.2rem;

    background: #F6F6F6;
    border-radius: 8px;
    border: 0;
    font-size: .875rem;
    line-height: 26px;

    color: #454545;

}


/***************    INFO    ************************* */

#medals-container>.section-heading {
    padding-top: 0;
}

#medals {
    display: flex;
    gap: 2em;
    overflow-x: scroll;
}

#medals img {
    min-width: 50px;
}



/* speciality */


#speciality {
    display: flex;
    gap: 1em;
    overflow-x: scroll;
}

#speciality>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .2rem;
    padding: 1rem;
    min-width: 153px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 1rem;
}
.speciality-img {
  height: 26px;
  width: 26px;
}

.spec, .sub-spec {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}

.sub-spec {
    font-size: .875rem;
    color: #707070;
}


/* ***************  SKILLS  ************** */

#skills-container {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #DDDDDD;
}

#skills-container>.section-heading {
    padding-bottom: 1rem;
}


#skills {
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 7px;
    gap: 6px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
}

.skill img {
    height: 22px;
    width: 22px;
}

.skill span {
    font-weight: 600;
    font-size: .875rem;
    line-height: 17px;
   
}







#bio-container>.section-heading {
    padding-top: 2rem;
}


#astro-bio {
  
    font-size: 13px;
    line-height: 18px;
    color: #707070;
    overflow: hidden;
}



#show-more {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    color: #707070;
    
}

#show-more span {
    border-bottom: 1px solid #707070;
}

.fds{height: 54px;}



#astro-images{
    margin-top: 1rem;
    display: flex;
    overflow-x: scroll;
    gap: .5em;
}

#astro-images img {
    height: 70px;
    max-width: 70px;
    min-width: 70px;
    border-radius: 1rem;
    object-fit: contain;
    transition: .3s;
}


.boro {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abar-boro {
    height: auto !important;
    max-width: 100% !important;
}
